* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: sans-serif;
    background: white;
    font-size: 12px;
}

.header {
    border: 1px dotted green;
    width: 300px;
    height: 70px;
    float: left;
}

@font-face{ 
	font-family: 'Neris-SemiBold-webfont';
	src: url('Neris-SemiBold-webfont.eot');
	src: url('Neris-SemiBold-webfont.eot?iefix') format('eot'),
	     url('Neris-SemiBold-webfont.woff') format('woff'),
	     url('Neris-SemiBold-webfont.ttf') format('truetype'),
	     url('Neris-SemiBold-webfont.svg#webfont') format('svg');
}


.wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.menu {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/da979d36570337.57210257e8c27.jpg);
    width: 1200px;
    height: 674px;
    float: top;
}

.hello {
    list-style-type: none;
    color: gray;
    border: 1px dotted brown;
    width: 1200px;
    height: 674px;
    float: left;
    
}

.hello>ul>li>a {
    list-style-type: none;
    float: right;
    display: block;
    border: 1px dotted blue;
    
}

.social {
    border: 1px dotted green;
    width: 300px;
    height: 70px;
    float: right;
}

.menu>ul {
    padding: 0;
}

.social>ul {
    padding: 0;
    margin-top: 0px;
}
.menu>ul>li {
    list-style-type: none;
    float:left;
    margin: 0px;
    padding: 0px;
}

.social>ul>li {
    list-style-type: none;
    float:left;
    margin: 0px;
    padding: 0px;
}

.menu>ul>li>a {
    display: block;
    border: none;
    padding: 20px;
    margin: 3px;
    text-align: center;
    color: white;
    font-size: 24px;
}

.social>ul>li>a {
    border: 1px dotted blue;
    list-style-type: none;
    float:left;
    margin: 10px;
    padding: 20px;
}

.content {
    padding: 20px;
    margin-left: 300px;
}