body {
    margin: center;
    font-family: sans-serif;
    background: dimgrey;
    font-size: 12px;
    color: white;
}

.wrapper{
    
    width: 1904px;
    margin: 20px;
    overflow:auto;
}

.h1{
    width: 1080px;
}

.header{
    overflow: auto;
    width: 1904px;
    height: 400px;
    background: transparent url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b7fd5b35025601.56e7163a7a091.jpg);
    background-repeat:no-repeat;

    
}

.menu{
    width:1904px;
    float: left;
    
}
.menu>ul{
    padding:0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgrey;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black;
}

.menu>ul>li{
    list-style-type: none;
}
    
.menu>ul>li>a{
display: block;
    border: 1px solid #000;
    padding: 20px;
    margin:3px;
    text-align: center;
    color: #000;
    font-size: 14px;
}


.forest{
    background: transparent url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/18602035025601.56e72319d29c7.gif") no-repeat center;
    height: 300px;
   
}

.content{
    padding: 20px;
    margin-left: 0px;
    
}








